* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}
button {
  border: none;
}
.App {
  width: 100%;
  height: 100vh;
  background: #0d0d0d;
}
.separator {
  width: 20px;
  text-align: center;
}
.channel-copy {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.channel-copy button {
  background-color: rgb(0, 98, 255);
  padding: 5px 10px;
  border-radius: 3px;
}
.inputs {
  width: 100%;
}
.inputs .copy-input {
  padding: 5px 10px;
  width: 200px;
  background: -webkit-linear-gradient(to right, #ee0979, #ff6a00);
  background: linear-gradient(to right, #ee0979, #ff6a00);
  color: white;
}
.inputs .input-container {
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs .input-container span {
  width: auto;
  height: auto;
  position: relative;
}
.inputs .input-container span .uppercase {
  position: absolute;
  top: 0;
  right: 0;
  background-color: chocolate;
  padding: 10px;
}

.inputs .input-container input,
textarea {
  background: none;
  min-width: 150px;
  width: 400px;
  padding: 10px 10px;
  min-height: 20px;
  background: rgb(22, 22, 22);
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 25px;
  color: gray;
}
.inputs .input-container input {
  width: 200px;
}
.inputs .input-container textarea:nth-child(1) {
  width: 500px;
}
.inputs .input-container textarea:nth-child(2) {
  width: 400px;
}
.case-converter {
  padding: 10px 70px;
}
.case-converter .extra-inpt {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}
.case-converter .extra-inpt input {
  width: 100%;
  height: auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 25px;
  background: darkslategrey;
  border: none;
  outline: none;
  border-radius: 40px;
  text-align: left;
}
.case-converter .extra-inpt .copy-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 19px 10px;
}
.case-converter .extra-inpt .paste-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 19px 10px;
}
.case-converter  .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.case-converter .buttons button {
  padding: 10px 20px;
  cursor: pointer;
  transition: all linear 0.3s;
  background: grey;
  max-width: 100px;
}
.case-converter .extra-inpt .buttons button:nth-child(4) {
  background: #ff6a00;
}
.case-converter .extra-inpt .buttons button:hover {
  background: wheat;
}
.modal-toggle-button {
  padding: 8px 10px;
  border-radius: 20px;
}




@media only screen and (max-width: 375px) {
  .inputs .input-container {
    width: 100%;
    height: auto;
    padding: 20px 30px;
    flex-direction: column;
  }
  .inputs .input-container input,
  textarea {
    background: none;
    outline: none;
    width: 300px !important;
    padding: 10px 10px;
    min-height: 20px;
    background: rgb(22, 22, 22);
  }
  .case-converter {
    padding: 10px 5px;

  }
  input,textarea {
    font-size: 15px !important;
  }
  .case-converter .extra-inpt .copy-btn,.paste-btn {
    padding: 10px 10px !important;
  }
}
